<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allonger la Période de Prêt</title>
    <link rel="stylesheet" href="../static/styles_menu_etu.css">
    <link rel="icon" href="../static/logo.png" type="image/png">

</head>
<body>
    <header id="img"><a href="membreDashboard.html"><img src="../static/logo.png" alt="Logo"></a></header>
    <div class="page-container">
        <h2>Allonger la Période de Prêt</h2>
        <form action="/allonger-periode" method="post">
            <input type="text" name="livreisbn" placeholder="ISBN du Livre" required>
            <input type="date" name="nouvelledateretour" placeholder="Nouvelle date de retour" required>
            <button type="submit">Demander l'extension</button>
        </form>
    </div>
</body>
</html>
