<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer Étudiant</title>
    <link rel="stylesheet" href="..\static\styles_livre.css">
    <link rel="icon" href="..\static\logo.png" type="image/png">

</head>
<body>
    <header id="img"><img src="..\static\logo.png" alt="Logo"></header>

    <div class="page-container">
        <h2>Supprimer un Livre</h2>
        <form action="/suppLivre" method="post">
            <input type="text" name="isbn" placeholder="Donner le code ISBN" required>
            <input type="submit" value="Supprimer">
            <input type="reset" value="Annuler">
        </form>
    </div>
</body>
</html>
