<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alertes</title>
    <link rel="stylesheet" href="..\static\styles_menu.css">
    <link rel="icon" href="..\static\logo.png" type="image/png">

</head>
<body>
<header id="img"><a href="adminDashboard.html"> <img src="..\static\logo.png" alt="Logo"></a></header>
    <div class="page-container">
        <h2>Alertes</h2>
        <ul>
            <li>Le livre "Titre du Livre" doit être retourné.</li>
            <li>L'utilisateur "Nom de l'Étudiant" a dépassé la date limite.</li>
        </ul>
    </div>
</body>
</html>
