<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Livre</title>
    <link rel="stylesheet" href="..\static\styles_livre.css">
    <link rel="icon" href="..\static\logo.png" type="image/png">

</head>
<body>
    <header id="img"><img src="..\static\logo.png" alt="Logo"></header>
    <div class="page-container">
        <h2>Ajouter un Livre</h2>
        <form action="/ajouterLivre" method="post">
            <input type="text" name="titre" placeholder="Titre" required>
            <input type="text" name="auteur" placeholder="Auteur" required>
            <input type="text" name="editeur" placeholder="Editeur"  required>
            <input type="date" name="datePub" required>
            <input type="text" name="isbn" placeholder="ISBN" required>
            <select name="genre" id="genre">
                <option value="" disabled selected>Genre</option>
                <option value="historique">Roman historique</option>
                <option value="drame">Drame</option>
                <option value="essai">Essai </option>
                <option value="sc_fiction">Science-fiction </option>
                <option value="theatre">Théâtre </option>
                <option value="bio">Autobiographie </option>
                <option value="fantasy">Fantasy </option>
            </select>
            <select name="langue" id="lang">
                <option value="" disabled selected>Langue</option>
                <option value="ar">Arabe</option>
                <option value="eng">Anglais</option>
                <option value="fr">Français</option>
                <option value="esp">Espagnol</option>
                <option value="all">Allemand</option>
                <option value="russ">Russe</option>
            </select>
            <input type="text" name="nbPage" placeholder="Nombre de Page" required maxlength="4">
            <input type="number" name="prix" placeholder="Prix">
            <select name="cible" id="pubcib">
                <option value="" disabled selected>Cible</option>
                <option value="enf">Enfant</option>
                <option value="ado">Adolescents</option>
                <option value="etud">Etudiant</option>
                <option value="cherch">Chercheur</option>
                <option value="adulte">Adulte</option>
                <option value="femme">Femme</option>
            </select>
            <input type="submit" value="Ajouter">
            <input type="reset" value="Annuler">

        </form>
    </div>
</body>
</html>
