<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Membre</title>
    <link rel="stylesheet" href="..\static\styles_menu.css">
    <link rel="icon" href="..\static\logo.png" type="image/png">

</head>
<body>
    <header id="img"><a href="adminDashboard.html"> <img src="..\static\logo.png" alt="Logo"></a></header>
    <div class="page-container">
        <h2>Ajouter un Membre</h2>
        <form action="/register" method="post">
            <input type="text" name="nom" placeholder="Nom" required>
            <input type="text" name="prenom" placeholder="Prénom" required>
            <input type="number" name="cin" placeholder="N° CIN" maxlength="8" required>
            <input type="date" name="dateNaiss" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="mdp" placeholder="Mot de passe" required>
            <input type="text" name="uni" placeholder="Université" required>
            <input type="number" name="tel" placeholder="N° Telephone" maxlength="8" required>
            <input type="submit" value="Ajouter">
            <input type="reset" value="Annuler">
        </form>
    </div>
</body>
</html>
